<!doctype html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <script type="text/javascript" src="../js/cookie.js"></script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
</head>

<body class="login-bg">
    <div class="login layui-anim layui-anim-up">
        <div class="message">管理注册</div>
        <div id="darkbannerwrap"></div>
        <form method="post" class="layui-form">
            <input name="phone" placeholder="手机号" type="text" lay-verify="required" class="layui-input">
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码" type="password" class="layui-input">
            <hr class="hr15">
            <input name="respassword" lay-verify="required" placeholder="重复密码" type="password" class="layui-input">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr15">
            <a href="/login">已有账号？现在去登录</a>
        </form>
    </div>
    <script>
    $(() => {
        layui.use('form', () => {
            var form = layui.form;
            //监听提交
            form.on('submit(login)', (data) => {
                if(data.field.phone.length != 11) {
                    layer.msg('请正确输入手机号码')
                    return false
                }
                if(data.field.password !== data.field.respassword) {
                    layer.msg('两次输入的密码不一致')
                    return false
                }
                const sendData = {
                    phone: data.field.phone,
                    password: data.field.password,
                    respassword: data.field.respassword,
                    cip: returnCitySN['cip'],
                    cname: returnCitySN['cname']
                }
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/api_admin/register",
                    data: sendData,
                    async: false,
                    error(request) {
                        console.log(request)
                    },
                    success: function(data) {
                        if (data.code == 0) {
                            layer.msg('注册成功', () => {
                                location.href = "/login"
                            });
                        } else {
                            layer.msg(data.msg)
                        }
                    }
                });
                return false;
            });
        });
    })
    </script>
    <!-- 底部结束 -->
</body>

</html>