<!doctype html>
<html class="x-admin-sm">
<% include ../public/iframe_header %>

<body>
    <div class="x-body">
        <div class="layui-row">
            <form class="layui-form layui-col-md12 x-so" style="margin-bottom: 10px" onsubmit="return saveReport();">
                <div class="layui-input-inline">
                    <select name="type" lay-verify="required">
                        <option value="">请选择订单类型</option>
                        <option value="1">购买订单</option>
                        <option value="2">退货订单</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="state" lay-verify="required">
                        <option value="">请选择订单状态</option>
                        <option value="0">已关闭</option>
                        <option value="1">待支付</option>
                        <option value="2">待发货</option>
                        <option value="3">待确认收货</option>
                        <option value="4">待退货</option>
                        <option value="5">待退款</option>
                        <option value="6">已退款</option>
                        <option value="10">已完成</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="searchData" placeholder="请输入订单ID" autocomplete="off" class="layui-input ">
                </div>
                <button type="submit" class="layui-btn" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
            </form>
        </div>
        <table class="layui-hide" id="demo" lay-filter="test"></table>
    </div>
    <script type="text/html" id="toolbar">
        <div class="layui-table-tool-temp">
            <div title="批量关闭" class="layui-inline" lay-event="close"><i class="layui-icon layui-icon-close"></i></div>
        </div>
</script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">查看</a>
        {{#  if(d.state == 1){ }}
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="close">关闭</a>
        {{#  } }} 
        
</script>
    <script>
    layui.use(['laydate', 'table', 'layer'], function() {
        var table = layui.table,
            layer = layui.layer;

        //第一个实例
        var tableIns = table.render({
            elem: '#demo',
            url: '/api_admin/order',
            page: true,
            toolbar: '#toolbar',
            cols: [
                [
                    { type: 'checkbox', fixed: 'left' },
                    { field: '_id', title: '订单号', width: 200 },
                    {
                        field: 'type',
                        title: '订单类型',
                        width: 80,
                        templet(d) {
                            if (d.type == 1) {
                                return '购买订单'
                            } else if (d.type == 2) {
                                return '退货订单'
                            } else {
                                return '未知订单'
                            }
                        }
                    },
                    { field: 'amount', title: '商品总数', width: 80 },
                    { field: 'total_price', title: '订单总价（元）', width: 120, templet(d) { return parseFloat(d.total_price).toFixed(2) } },
                    { field: 'leave_word', title: '订单留言', width: 140 },
                    {
                        field: 'address',
                        title: '收货人',
                        width: 80,
                        templet(d) {
                            return d.address.name
                        }
                    },
                    {
                        field: 'state',
                        title: '订单状态',
                        width: 100,
                        align: 'center',
                        templet: function(d) {
                            switch (d.state) {
                                // 已关闭：0
                                // 待支付：1
                                // 待发货：2 
                                // 待确认收货：3
                                // 待退货：4
                                // 待退款：5
                                // 已退款：6
                                // 已完成：10
                                case 0:
                                    return '已关闭'
                                    break;
                                case 1:
                                    return '待支付'
                                    break;
                                case 2:
                                    return '待发货'
                                    break;
                                case 3:
                                    return '待确认收货'
                                    break;
                                case 4:
                                    return '待退货'
                                    break;
                                case 5:
                                    return '待退款'
                                    break;
                                case 6:
                                    return '已退款'
                                    break;
                                case 10:
                                    return '已完成'
                                    break;
                                default:
                                    return '未知订单状态'
                                    break;
                            }
                        }
                    },
                    {
                        field: 'addtime',
                        title: '添加时间',
                        templet: function(d) {
                            return new Date(d.addtime).toLocaleDateString().replace(/\//g, "-") + " " + new Date(d.addtime).toTimeString().substr(0, 8)
                        }
                    },
                    { title: '操作', toolbar: '#barDemo', width: 140, fixed: 'right' }
                ]
            ]
        });

        //监听头工具栏事件
        table.on('toolbar(test)', function(obj) {
            var checkStatus = table.checkStatus(obj.config.id),
                data = checkStatus.data; //获取选中的数据
            switch (obj.event) {
                case 'close':
                    if (data.length === 0) {
                        layer.msg('请选择需要关闭的订单');
                    } else {
                        const ids = []
                        for (var value of data) {
                            ids.push(value._id)
                        }
                        del(ids)
                    }
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function(obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'close') {
                del([data._id])
            } else if (layEvent === 'detail') {
                x_admin_show('查看订单', '/order/order_show?id=' + data._id)
            } else if (layEvent === 'edit') {
                x_admin_show('编辑订单', '/order/order_add?id=' + data._id)
            }
        });

       window.del_win = function(ids) {
            layer.confirm('确认要关闭订单吗？', function(index) {
                const idsUrl = ids.join(',')
                $.get("/api_admin/order/close?ids=" + idsUrl, function(data, status) {
                    if (data.code === 0) {
                        layer.msg(data.msg, { icon: 1 });
                        tableIns.reload();
                    } else {
                        layer.msg(data.msg);
                    }
                });
            });
        };

         window.test_win = function(ids) {
            layer.confirm('确认要关闭订单吗？', function(index) {
                layer.closeAll();
            });
        };

        window.saveReport = function() {
            const searchData = $('input[name="searchData"]').val()
            tableIns.reload({
                where: {
                    searchData: searchData
                },
                page: {
                    curr: 1
                }
            });
            return false;
        }
    });
    </script>
    <% include ../public/iframe_footer %>
</body>

</html>