<!-- <aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe67f;</i>
                <% if(mainTitle == '我的桌面'){ %><a style="color: #06c" href="/" title="首页"> <% }else{ %><a href="/" title="首页"> <% } %>首页</a></dt>
        </dl>
        <dl id="menu-article">
            <% if(mainTitle == '资讯管理'){ %>
            <dt class="selected"><i class="Hui-iconfont">&#xe62f;</i> 资讯管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd style="display: block">
                <% }else{ %>
            <dt><i class="Hui-iconfont">&#xe62f;</i> 资讯管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <% } %>
                <ul>
                    <% if(subTitle == '资讯列表'){ %>
                    <li class="current">
                        <% }else{ %>
                    <li>
                        <% } %><a href="/article" title="资讯列表">资讯列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <% if(mainTitle == '图片管理'){ %>
            <dt class="selected"><i class="Hui-iconfont">&#xe613;</i> 图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd style="display: block">
                <% }else{ %>
            <dt><i class="Hui-iconfont">&#xe613;</i> 图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <% } %>
                <ul>
                    <% if(subTitle == '图片标签'){ %>
                    <li class="current">
                        <% }else{ %>
                    <li>
                        <% } %><a href="/picture/label" title="图片标签">图片标签</a></li>
                    <% if(subTitle == '图片列表'){ %>
                    <li class="current">
                        <% }else{ %>
                    <li>
                        <% } %><a href="/picture" title="图片列表">图片列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-product">
            <% if(mainTitle == '产品管理'){ %>
            <dt class="selected"><i class="Hui-iconfont">&#xe620;</i> 产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd style="display: block">
                <% }else{ %>
            <dt><i class="Hui-iconfont">&#xe620;</i> 产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <% } %>
                <ul>
                    <% if(subTitle == '品牌管理'){ %>
                    <li class="current">
                        <% }else{ %>
                    <li>
                        <% } %><a href="/goods/brand" title="品牌管理">品牌管理</a></li>
                    <% if(subTitle == '分类管理'){ %>
                    <li class="current">
                        <% }else{ %>
                    <li>
                        <% } %><a href="/goods/classify" title="分类管理">分类管理</a></li>
                    <% if(subTitle == '产品列表'){ %>
                    <li class="current">
                        <% }else{ %>
                    <li>
                        <% } %><a href="/goods" title="产品列表">产品列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-product">
            <% if(mainTitle == '订单管理'){ %>
            <dt class="selected"><i class="Hui-iconfont">&#xe620;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd style="display: block">
                <% }else{ %>
            <dt><i class="Hui-iconfont">&#xe620;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <% } %>
                <ul>
                    <% if(subTitle == '订单列表'){ %>
                    <li class="current">
                        <% }else{ %>
                    <li>
                        <% } %><a href="/order" title="订单列表">订单列表</a></li>
                    <% if(subTitle == '退货单列表'){ %>
                    <li class="current">
                        <% }else{ %>
                    <li>
                        <% } %><a href="/order/sales_return" title="退货单列表">退货单列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-comments">
            <dt><i class="Hui-iconfont">&#xe622;</i> 评论管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="http://h-ui.duoshuo.com/admin/" title="评论列表">评论列表</a></li>
                    <li><a href="feedback-list.html" title="意见反馈">意见反馈</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-member">
            <% if(mainTitle == '会员管理'){ %>
            <dt class="selected"><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd style="display: block">
                <% }else{ %>
            <dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <% } %>
                <ul>
                    <% if(subTitle == '会员列表'){ %>
                    <li class="current">
                        <% }else{ %>
                    <li>
                        <% } %><a href="/users" title="会员列表">会员列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <% if(mainTitle == '管理员管理'){ %>
            <dt class="selected"><i class="Hui-iconfont">&#xe62c;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd style="display: block">
                <% }else{ %>
            <dt><i class="Hui-iconfont">&#xe62c;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <% } %>
                <ul>
                    <% if(subTitle == '管理员列表'){ %>
                    <li class="current">
                        <% }else{ %>
                    <li>
                        <% } %><a href="/administrators" title="会员列表">管理员列表</a></li>
                    <% if(subTitle == '管理员日志'){ %>
                    <li class="current">
                        <% }else{ %>
                    <li>
                        <% } %><a href="/administrators/logs" title="管理员日志">管理员日志</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-tongji">
            <dt><i class="Hui-iconfont">&#xe61a;</i> 系统统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="charts-1.html" title="会员统计">会员统计</a></li>
                    <li><a href="charts-2.html" title="订单统计">订单统计</a></li>
                    <li><a href="charts-3.html" title="商城访问统计">商城访问统计</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="system-base.html" title="系统设置">系统设置</a></li>
                    <li><a href="system-category.html" title="栏目管理">栏目管理</a></li>
                    <li><a href="system-data.html" title="数据字典">数据字典</a></li>
                    <li><a href="system-shielding.html" title="屏蔽词">屏蔽词</a></li>
                    <li><a href="system-log.html" title="系统日志">系统日志</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div> -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe83b;</i>
                    <cite>产品管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/goods">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>产品列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="/goods/brand">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>品牌管理</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="/goods/classify">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>分类管理</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>订单管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="order">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>订单列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="order/sales_return">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>退货订单</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>会员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/member">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员列表</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe726;</i>
                    <cite>管理员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/administrators">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>管理员列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="member-list.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>管理员日志</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6a2;</i>
                    <cite>资讯管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="member-list.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>资讯列表</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6a8;</i>
                    <cite>图片管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="member-list.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>图片列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="member-list.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>图片标签</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6ae;</i>
                    <cite>系统统计</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="member-list.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员统计</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="member-list.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>订单统计</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="member-list.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商城访问统计</cite>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->