<!doctype html>
<html class="x-admin-sm">
<% include ../public/iframe_header %>

<body>
    <div class="x-body">
        <div class="layui-row">
            <form class="layui-form layui-col-md12 x-so" style="margin-bottom: 10px" onsubmit="return saveReport();">
                <input type="text" name="searchData" placeholder="请输入用户昵称、手机号" autocomplete="off" class="layui-input ">
                <button type="submit" class="layui-btn" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
            </form>
        </div>
        <table class="layui-hide" id="demo" lay-filter="test"></table>
    </div>
    <script type="text/html" id="toolbar">
        <div class="layui-table-tool-temp">
            <div class="layui-inline" lay-event="delete"><i class="layui-icon layui-icon-delete"></i></div>
        </div>
</script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
    <script>
    layui.use(['laydate', 'table', 'layer'], function() {
        var laydate = layui.laydate,
            table = layui.table,
            layer = layui.layer;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });

        //第一个实例
        var tableIns = table.render({
            elem: '#demo',
            url: '/api_admin/admins',
            page: true,
            toolbar: '#toolbar',
            cols: [
                [
                    { type: 'checkbox', fixed: 'left' },
                    { field: '_id', title: 'ID', width: 200 },
                    { field: 'nickname', title: '用户昵称', width: 120 },
                    { field: 'phone', title: '手机号码', width: 120 },
                    { field: 'cip', title: '用户ip', width: 120 },
                    { field: 'cname', title: 'ip地址', width: 120 },
                    {
                        field: 'isSuper',
                        title: '是否超级管理员',
                        width: 120,
                        align: 'center',
                        templet: function(d) {
                            if (d.isSuper) {
                                return '<span class="layui-badge layui-bg-blue">超级管理员</span>'
                            } else {
                                return '<span class="layui-badge layui-bg-gray">普通管理员</span>'
                            }

                        }
                    },
                    {
                        field: 'addtime',
                        title: '添加时间',
                        templet: function(d) {
                            return new Date(d.addtime).toLocaleDateString().replace(/\//g, "-") + " " + new Date(d.addtime).toTimeString().substr(0, 8)
                        }
                    },
                    { title: '操作', align: 'center', toolbar: '#barDemo', width: 80, fixed: 'right' }
                ]
            ]
        });

        //监听头工具栏事件
        table.on('toolbar(test)', function(obj) {
            var checkStatus = table.checkStatus(obj.config.id),
                data = checkStatus.data; //获取选中的数据
            switch (obj.event) {
                case 'delete':
                    if (data.length === 0) {
                        layer.msg('请选择需要删除的管理员');
                    } else {
                        const ids = []
                        for (var value of data) {
                            ids.push(value._id)
                        }
                        del(ids)
                    }
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function(obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                del([data._id])
            }
        });

        function del(ids) {
            layer.confirm('确认要删除吗？', function(index) {
                const idsUrl = ids.join(',')
                $.get("/api_admin/admins/del?ids=" + idsUrl, function(data, status) {
                    if (data.code === 0) {
                        layer.msg(data.msg, { icon: 1 });
                        tableIns.reload();
                    } else {
                        layer.msg(data.msg);
                    }
                });
            });
        };

        window.saveReport = function() {
            const searchData = $('input[name="searchData"]').val()
            tableIns.reload({
                where: {
                    searchData: searchData
                },
                page: {
                    curr: 1
                }
            });
            return false;
        }
    });
    </script>
    <% include ../public/iframe_footer %>
</body>

</html>