<!doctype html>
<html class="x-admin-sm">
<% include ../public/iframe_header %>

<body>
    <div class="x-body">
        <div class="layui-row">
            <form class="layui-form layui-col-md12 x-so" style="margin-bottom: 10px" onsubmit="return saveReport();">
                <input type="text" name="searchData" placeholder="请输入品牌编号、品牌名称" autocomplete="off" class="layui-input ">
                <button type="submit" class="layui-btn" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
            </form>
        </div>
        <table class="layui-hide" id="demo" lay-filter="test"></table>
    </div>
    <script type="text/html" id="toolbar">
        <div class="layui-table-tool-temp">
            <div class="layui-inline" lay-event="delete"><i class="layui-icon layui-icon-delete"></i></div>
            <div onclick="x_admin_show('添加品牌','/goods/brand_add')" class="layui-inline" lay-event="add"><i class="layui-icon layui-icon-add-1"></i></div>
        </div>
</script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
    <script>
    layui.use(['laydate', 'table', 'layer'], function() {
        var laydate = layui.laydate,
            table = layui.table,
            layer = layui.layer;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });

        //第一个实例
        var tableIns = table.render({
            elem: '#demo',
            url: '/api_admin/brand',
            page: true,
            toolbar: '#toolbar',
            cols: [
                [
                    { type: 'checkbox', fixed: 'left' },
                    { field: 'id', title: '编号', width: 60 },
                    {
                        field: 'logo',
                        title: '品牌logo',
                        width: 100,
                        align: 'center',
                        templet: function(d) {
                            return `<img width="60" src="${d.logo}" alt="" />`

                        }
                    },
                    { field: 'name', title: '品牌名称', width: 160 },
                    { field: 'describe', title: '品牌介绍' },
                    { title: '操作', align: 'center', toolbar: '#barDemo', width: 200, fixed: 'right' }
                ]
            ]
        });

        //监听头工具栏事件
        table.on('toolbar(test)', function(obj) {
            var checkStatus = table.checkStatus(obj.config.id),
                data = checkStatus.data; //获取选中的数据
            switch (obj.event) {
                case 'delete':
                    if (data.length === 0) {
                        layer.msg('请选择需要删除的管理员');
                    } else {
                        const ids = []
                        for (var value of data) {
                            ids.push(value.id)
                        }
                        del(ids)
                    }
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function(obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                del([data.id])
            }else if(layEvent === 'detail'){
                x_admin_show('查看品牌','/goods/brand_show?id='+ data.id)
            }else if(layEvent === 'edit'){
                x_admin_show('编辑品牌','/goods/brand_add?id='+ data.id)
            }
        });

        function del(ids) {
            layer.confirm('确认要删除吗？', function(index) {
                const idsUrl = ids.join(',')
                $.get("/api_admin/brand/del?ids=" + idsUrl, function(data, status) {
                    if (data.code === 0) {
                        layer.msg(data.msg, { icon: 1 });
                        tableIns.reload();
                    } else {
                        layer.msg(data.msg);
                    }
                });
            });
        };

        window.saveReport = function() {
            const searchData = $('input[name="searchData"]').val()
            tableIns.reload({
                where: {
                    searchData: searchData
                },
                page: {
                    curr: 1
                }
            });
            return false;
        }
    });
    </script>
    <% include ../public/iframe_footer %>
</body>

</html>